<%- include('header') %>


 <!-- Form Start -->
                  
 <div class="container-fluid pt-4 px-4">
  <div class="row g-4 align-items-center justify-content-center mt-5">
    <div class="col-sm-12 col-xl-6">
      <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Edit Banner</h6>
        <div>
          <% if(locals.msg) { %>
            <div id="msg" class="alert alert-success"><%- locals.msg -%></div>
            <%}%>
        </div>
        <form action="/editbanner/<%= banner._id %>" id="update_product" name="basic" method="post"  enctype="multipart/form-data">
          <div class="mb-3">
            <label
                    for="name"
                    >Banner Name
                  </label>
                  <input
                    id="name"
                    name="banner"
                    value="<%= banner.bannerName %>"
                    type="text"
                    class="form-control validate "
                  />
          </div>
          <div class="mb-3">
            <label
            for="price"
            >Description
          </label>
          <input
            id="int"
            name="description"
            value="<%= banner.description %>"
            type="text"
            class="form-control validate "
          />
          </div>
          <div class="tm-product-img-dummy mx-auto">
            <i
              class="fas fa-cloud-upload-alt tm-upload-icon"
              onclick="document.getElementById('fileInput').click();"
            ></i>
          </div>
          <div class="form-group mt-3">
            <label for="exampleInputPassword1" class="form-label">Banner photo</label>
            <input
              type="file"
              class="form-control"
              name="photo"
            />
                  <img src="/<%= banner.photo %>" width="80" class="img-thumbnail mt-3" alt="">
                
                
               </div>

          

          <button type="submit" class="btn btn-primary mt-5">
            Add Banner
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Form End -->

            
<script>
  setTimeout(() => {

      document.getElementById('msg').style.display="none"
      
  }, 3000);
</script>

<%- include('footer') %>